{{ define "main" }}

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <span>{{ delimit .Params.category ", " }}</span>
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          {{if .Params.link}}
            <div class="site-project-single-description">
              <a href="{{.Params.link}}">Link to project</a>
            </div>
          {{end}}
          <!-- <div class="row" style="display: flex; justify-content: space-around">
            {{ if .NextInSection }}
            <div class="site-project-single-prev">
              <a href="{{.NextInSection.Permalink}}">
                <img src="{{ "images/to-top.svg" | absURL }}" alt="prev project">
                <span class="link-area">
                  <span data-text="Prev Project">
                    Previous Project
                  </span>
                </span>
              </a>
            </div>
            {{ end }} -->
            {{ if .PrevInSection }}
            <div class="site-project-single-next">
              <a href="{{.PrevInSection.Permalink}}">
                <span class="link-area">
                  <span data-text="Next Project">
                    Next Project
                  </span>
                </span>
                <img src="{{ "images/to-top.svg" | absURL }}" alt="next project">
              </a>
            </div>
            {{ end }}
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}