{{ with .Site.Data.background }}
  {{ if .enable }}
  <section class="site-background" id ="background">
    <div class="container">
      <div class="row">
        <div class="col-12"><br>
          <div class="section-title">
            <h2>Work Experience</h2>
          </div>
          <div class="row experience-skill">
            {{ with .experience }}
            {{ if .enable }}
            <div class="col-lg-6 col-sm-6 col-11 experience wow fadeInUp" data-wow-duration="1.5s">
              <h3>{{ .title }}</h3>
              <ul class="experience-chart">
                {{ range .experience_list }}
                <li>
                  <div class="single-experience">
                    <h4>{{ .name | markdownify }}</h4>
                    {{ with .company }} <span>{{ . | markdownify }},</span> {{ end }}
                    {{ with .duration }} <span>{{ . | markdownify }}</span> {{ end }}
                    {{ with .content }} <p>{{ . | markdownify}}</p> {{ end }}
                  </div>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
            {{ end }}
    
            
            {{ with .skill }}
            {{ if .enable }}
            <div class="col-lg-6 col-sm-6 col-11 skill wow fadeInUp" data-wow-duration="1.5s">
              <h3>{{ .title }}</h3>
              <div class="skill-progress-bar">
                {{ range .skill_list }}
                <div class="clearfix">
                  <span class="skillbar-title">{{ .name }}</span>
                  <span class="skill-bar-percent">{{ .percentage }}</span>
                  <div class="skillbar" data-percent="{{ .percentage }}">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
            {{ end }}
            {{ end }}
            {{ with .education }}
            {{ if .enable }}
            <div class="col-lg-6 col-sm-6 col-11 experience wow fadeInUp" data-wow-duration="1.5s">
              <h3>{{ .title }}</h3>
              <ul class="experience-chart">
                {{ range .education_list }}
                <li>
                  <div class="single-experience">
                    <h4>{{ .institute | markdownify }}</h4>
                    {{ with .degree }} <span>{{ . | markdownify }},</span> {{ end }}
                    {{ with .duration }} <span>{{ . | markdownify }}</span> {{ end }}
                    {{ with .CGPA }} <p>{{ . | markdownify}}</p> {{ end }}
                  </div>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
            {{ end }}
          </div>  
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  
  