{{ with .Site.Data.social }}
  {{ if .enable }}
  <section class="site-social" id="social">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="text-white">{{ .heading }}</h2>
          </div>
        </div>
        {{ range .social_item }}
        <div class="col-lg-2 col-md-6">
          <div class="site-social-item">
            <span class="site-social-item-title">{{ .title }}</span><br>
            <a class="site-social-item-icon site-client-item" href="{{ .url | absURL }}"><i class="{{ .icon }}"></i></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}